@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Full height */
}

.loading-spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left: 8px solid #000000;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}